<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SFML.Net" version="2.5.1" targetFramework="native" />
</packages>
#include <SFML/Graphics.hpp>
using namespace sf;

int main() {
int windowHeight = 600;
int windowWidth = 600;

RenderWindow window(VideoMode(windowWidth, windowHeight), "Christmas Tree");

ConvexShape tree;
tree.setPointCount(4);
tree.setPoint(0, Vector2f(windowWidth / 2, windowHeight - 200));
tree.setPoint(1, Vector2f(windowWidth / 2 + 100, windowHeight));
tree.setPoint(2, Vector2f(windowWidth / 2 - 100, windowHeight));
tree.setPoint(3, Vector2f(windowWidth / 2, windowHeight - 200));
tree.setFillColor(Color(0, 128, 0));

CircleShape bauble(20);
bauble.setFillColor(Color::Red);
bauble.setPosition(windowWidth / 2 - 15, windowHeight - 250);

while (window.isOpen()) {
Event event;
while (window.pollEvent(event)) {
if (event.type == Event::Closed)
window.close();
}

window.clear(Color::White);
window.draw(tree);
window.draw(bauble);
window.display();
}

return 0;
}